@charset "UTF-8";
/* CSS Document */


body
{
    background-image: url(IMAGES/fond.jpg);
    font-size:1em;

    
}

@font-face {
    font-family: "IBMPlexSans";
    src: url(fonts/IBMPlexSans-Bold.ttf) format(truetype);
    font-weight: normal; 

}

@media all and (max-width: 1240px)
{
  #entete_titre, .pro, #menu, #contenu, #projets, #projets2, #slideshow, .container, .c_slider, .slider, #timeline
  {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: stretch;
    flex-flow: row wrap;
    /* background-color: brown; */
  }
}

@media screen and (max-width: 500px )
{
  #contact .container form
  {
      flex-direction: column;
      width: 95%;
  }
}

h1
{
  font-family: 'Slabo 27px', serif;
  /*font-family: "IBMPlexSans";*/
  text-shadow: 0.1em 0.1em 0.2em black}
  
/*entete*/
#photoM {
    text-align: center;
}
.image-ronde{
    width : 150px; height : 170px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
  }

#entete_titre{
    background: blanchedalmond;
    text-align: center;
    color: #000000;
    padding: 20px;
    line-height: normal;
    border: thick double #b4752c;
    padding: 3px;
    
}
.entete_titre h1{
    font-size: 30px;
    line-height: 0;
}

#contenu {
    align-items: center;
    text-align: center;
}

#slideshow {
	position: relative;
	width: 640px;
	height: 310px;
	padding: 15px;
	margin: 0 auto 2em;
	border: 1px solid blanchedalmond;
  
	/* effets */
	background: linear-gradient(rgb(241, 214, 182), rgb(243, 222, 198) 20%, rgb(236, 216, 203) 80%, rgb(255, 255, 255));
}
 
#slideshow:before,
#slideshow:after {
	position: absolute;
	bottom:16px;
	z-index: -10;
	width: 50%;
	height: 20px;
	content: " ";
	background: rgba(0,0,0,0.1);
	border-radius: 50%;
	box-shadow: 0 20px 10px #ff7474;
  /*0 0 3px rgba(47, 214, 25, 0.4),*/
}
#slideshow:before {
	left:0;
	transform: rotate(-4deg);
}
#slideshow:after {
	right:0;
	transform: rotate(4deg);
}

/* gestion des dimensions et débordement du conteneur */
#slideshow .container {
	position:relative;
	width: 640px;
	height: 310px;
	overflow: hidden;
}
	
/* un petit espace pour la timeline */
#slideshow .container:after {
	position:absolute;
	bottom: 0; left:0;
	content: " ";
	width: 100%;
	height: 1px;
	background: #999;
}
/* 
   conteneur des slides
   en largeur = 100% x le nombre de slides
*/
#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 310px;
}

/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:0; margin:0;
}


/* styles de mes légendes */
#slideshow figcaption {
	position:absolute;
	left:0; right:0; bottom: 5px;
	padding: 20px;
	margin:0;
	border-top: 1px solid rgb(225,225,225);
	text-align:center;
	font-family: Georgia, Times, serif;
	background: #fff;
	background: rgba(255,255,255,0.7);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
}
/*
letter-spacing: 0.05em;
	word-spacing: 0.05em;*/


/* fonction d'animation : prefixer */
@keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}


#slideshow .slider {

	animation: slider 32s infinite;
}

#timeline {
	position: absolute;
	background: #999;
	bottom: 15px;
	left: 15px;
	height: 1px;
	background: rgb(214,98,13);
	background: rgba(214,98,13,.8);
	width: 0;
	/* fonction d'animation */
	animation: timeliner 32s infinite;
}
@keyframes timeliner {
	0%, 25%, 50%, 75%, 100%	{ width: 0;		}
	20%, 45%, 70%, 90%		{ width: 640px;	}
}
@keyframes figcaptionner {
	0%, 25%, 50%, 75%, 100%						{ bottom: -55px;	}
	5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%		{ bottom: 5px;		}
}

#slideshow figcaption {

	animation: figcaptionner 32s infinite;
}

/* menu */
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: blanchedalmond;
}

#marry{
  color: #b4752c;
  float: left;
}

li{
    float: right;
}
li a {
    color: #b4752c;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}


.pro{
  text-align: center;
  color: #b4752c;
}

#projets{
  display: flex;
  justify-content: space-around;
}
#projets2{
  display: flex;
  justify-content: space-around;
}


.wrapper{
  height: 400px;
  width: 320px;
  position: relative;
  transform-style: preserve-3d;
	perspective: 1000px;

}
.wrapper .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  box-shadow: rgb(145, 34, 34) 0px 10px 50px -10px ;

}
.wrapper:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.wrapper .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper .back-face{
  background-color: lightcoral;
}
.wrapper .back-face .info{
  text-align: center;
}
.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
}
.back-face ul{
  display: flex;
}
.back-face ul a{
  display: block;
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  transition: all 0.5s ease;
}
.back-face ul a:hover{
  background: linear-gradient(375deg, transparent, transparent);
}


.ap{
  text-align: center;
  color: #b4752c;
}

/* Style des boutons qui ouvrent et ferment l'accordeon */
.accordion {
  background-color: blanchedalmond;
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #b4752c;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: rgb(250, 236, 215);
  display: none;
  overflow: hidden;
}
/* style des boutons pour ouvrir et fermer l'accordeon */
/* .accordion {
  background-color: rgb(253, 222, 196);
  color: rgb(218, 140, 77);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  box-shadow: rgb(145, 34, 34) 0px 10px 50px -10px ;
} */

/* .active, .accordion:hover {
  background-color: rgb(248, 240, 227);
} */

/* Style the accordion panel. Note: hidden by default */
/* .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
} */

#contact {
  padding: 60px 0;
}

#contact .container {
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond ;
    padding: 30px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: rgb(145, 34, 34) 0px 10px 50px -10px ;
}

#contact .container .title {
    text-align: center;
    color: #b4752c;
    margin-bottom: 60px;
}

#contact .container .title h6{
    font-size: 1.2em;
}

#contact .container .title h3{
    font-size: 3em;
}

#contact .container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}
#contact .container form input {
    width: 45%;
}

#contact .container form input:hover,
#contact .container form textarea:hover { 
    border-bottom: 2px solid #ff7474;
}


#contact .container form input, 
#contact .container form textarea {
    
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: 0.2s;
}

#contact .container form textarea {
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 60px;
}

#contact .container form button{
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #b4752c;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}

#contact .container form button:hover{
    transform: translateY(-5px);
    box-shadow: rgb(145, 34, 34) 0px 10px 50px -10px ;
}


#contact .container form{
        width: 100%;
}

    #contact .container .title h6{
        font-size: 1em;
    }

    #contact .container .title h3{
        font-size: 2em;
    }

footer{
  align-items: flex-end;
}

footer ul{
  display: flex;
  justify-content: center;
}

footer li {
  margin: 20px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  background: linear-gradient(225deg, #f0f0f0, #cacaca);
  box-shadow:  -5px 5px 9px #c3c3c3,
                5px -5px 9px #fdfdfd;
  cursor: pointer;
}

footer i{
  font-size: 2em;
}

footer li:hover{
  border-radius: 150px;
  background: #e0e0e0;
  box-shadow: inset -5px 5px 9px #c3c3c3,
            inset 5px -5px 9px #fdfdfd;
}

footer li:nth-child(1) i {
  color: rgb(9, 9, 119);
}

footer li:nth-child(2) i {
  color: rgb(29, 182, 29);
}

footer li:nth-child(3) i {
  color: rgb(70, 145, 207);
}